<h1 class="text-center m-5">Editing Activity Record</h1>

<%= render 'form', activity_record: @activity_record, activities: @activities %>

<%= link_to 'Show', @activity_record, class: "btn btn-success mt-5 ml-5" %>
<%= link_to 'Back', activity_records_path, class: "btn btn-warning mt-5" %>
