<div>

<div class="jumbotron">
  <h1 class="display-5">Hello, <%= current_user.email %></h1>
  <hr />
  <p class="lead">We are what we repeatedly do. Excellence, then, is not an act, but a habit.</p>
  <p class="lead">We don’t stop exercising because we grow old… we grow old because we stop exercising.</p>
  
</div>

<%= link_to 'Create new Activity', new_activity_record_path, class:"btn btn-primary btn-lg m-4" %>

</div>